<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @town.Nom %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @town.Latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @town.Longitude %>
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
